PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/flipped_classroom
JWT_SECRET=flipped_classroom_secret_jwt_key_2026_super_secure
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:3000
NODE_ENV=development
